.user-list-container {
  max-width: 1300px;
  margin: 40px;
  padding: 20px;
  margin-left: 50px;
  background-color: #B4A5A5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: "Roboto";
}

.error {
  color: red;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Button styles */
.add-btn {
  background-color: #78A083;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-btn:hover {
  background-color: #344955;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Roboto";;
}

.user-table th {
  background-color: #03506F;
  color: white;
  font-family: "Roboto";
  
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.edit-btn, .delete-btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 1rem;
  font-family: "Roboto";
}

.edit-btn {
  background-color: #30475E;
  color: white;
}

.delete-btn {
  background-color: #AE445A;
  color: white;
}


@media sreen and (max-width: 768px) {
  .user-list-container {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  .user-table th, .user-table td {
    padding: 8px;
  }

  .user-table {
    font-size: 0.9rem;
  }
}
